html{
  font-weight: 400 !Important;
}

body{
  background-color: #757575;
}

#work-flow{

}

.vertical-padding{
  padding: 10px 0px;
}

.first{
  padding-left: 0px !important;
}

.block-box{
  padding: 20px;
}

.wfc-block{
  overflow: hidden;
  background-color: white;
  margin-bottom: 10px;
}

.block-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.block-shadow:hover {
  /*box-shadow: 0 2px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);*/
  box-shadow: 0 8px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

.wfc-block-head{
  overflow: hidden;
}

.wfc-block-type{
  width: 7%;
  float: left;
}

.wfc-block-title{
  width: 83%;
  float: left;
  line-height: 16px;
  margin-top: 4px;
  font-weight: 500;
}

.wfc-block-expand{
  width: 10%;
  float: right;
  text-align: right;
}

.wfc-block-sections{
  overflow: hidden;
}

.wfc-block-circle{
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.wfc-block-connector{
  padding: 10px 5px;
}

.wfc-block-body{
  display: none;
}

.wfc-container{
  padding: 0px 20px;
}
