<div>
  <div data-content="name"></div>
  <div data-content="instructions"></div>
  <div data-content="eu"></div>
  <div data-content="internal-note"></div>
  <div data-content="external-note"></div>
  <div data-content="deposit-paid"></div>
  <div data-content="documents"></div>       
</div>
